@{
    ViewBag.Title = "CiBeer";
}

<h1>CiBeer</h1>
<div class="beerimage">
    <img src="~/Content/beers.jpg" id="beerimage" />
</div>




<button class="btn btn-success" id="" onclick='window.location = "@Url.Action("Index", "Beer")";'>Check in øl!</button>