@using NTNUntappd.Migrations
@using NTNUntappd.Models
@model Dictionary<BeerModels, int>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>NTNUntappd</h1>
</div>

<div class="beerimage">
    <img src="~/Resources/beers.jpg" id="beerimage"/>
</div>

<button class="button" id="" onclick='window.location = "@Url.Action("Index", "Beer")";'>Check in øl!</button>

<table class="table table-striped" style="margin: 10px;">
    <tr>
        <th>All-time HITS!</th>
        <th>Antall</th>
    </tr>
    @if (Model.Count() > 0)
    {
        foreach (var group in Model)
        {

            var beer = group.Key;
            <tr>
                <td>
                    @Html.DisplayFor(g => group.Key.Name)
                </td>
                <td>
                    @Html.DisplayName(group.Value.ToString())
                </td>
            </tr>

        }
    }

</table>