@using NTNUntappd.Migrations
@using NTNUntappd.Models
@model IEnumerable<NTNUntappd.Models.BeerModels>

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>NTNUntappd</h1>
</div>

<div class="beerimage">
    <img src="~/Resources/beers.jpg" id="beerimage"/>
</div>



<button class="button" id="" onclick='window.location = "@Url.Action("Index", "Beer")";'>Check in øl!</button>